* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}
.hide {
    display: none;
}

.current {
    background-color: #ECA790;
}

footer {
    position: absolute;
    bottom: 0;
}