* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

.hide {
    display: none;
}

.current {
    background-color: #ECA790;
}

.past {
    background-color: darkgray;
}

.future {
    background-color: lightgreen;
}